@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
@section HeaderSection
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("form").validate();
        });
    </script>
}

@{
    Html.EnableClientValidation();
}

<div class="block">
    <h2>修改密码</h2>
@using (Html.BeginForm())
{
<ul class="forms cpwd">
    @*<li><label>帐户名</label>@ViewBag.UserName</li>*@
    <li><label>原密码 @Html.ValidationMessage("oldPassword", "*")</label>@Html.Password("oldPassword")</li>
    <li><label>新密码 @Html.ValidationMessage("newPassword", "*")</label>@Html.Password("newPassword")</li>
    <li><label>确认新密码 @Html.ValidationMessage("confirmPassword", "*")</label>@Html.Password("confirmPassword")</li>
    <li class="botton"><input type="submit" />
        <span class="links">@Html.ActionLink("查看资料", "Details", "Account", new { area = "" }, null)
            @Html.ActionLink("返回首页", "Index", "Home", new { area = "" }, null)</span></li>
</ul>
}
</div>
