@{
    ViewBag.Title = "重设密码";
    Html.EnableClientValidation();
}
@section HeaderSection
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("form").validate();
        });
    </script>
}
@using (Html.BeginForm())
{
<ul class="details">
    <li><label>帐户名</label>@ViewBag.UserName</li>
    <li><label>密保问题</label>@ViewBag.SecrecyQuestion</li>
    <li><label>密保问题答案</label>@Html.TextBox("answer") <span class="field-required">*</span> @Html.ValidationMessage("answer","请输入密保问题答案")</li>
    <li><label>请输入新密码</label>@Html.Password("newPassword")</li>
    <li><label>请重新输入新密码</label>@Html.Password("confirmPassword")</li>
    <li><label></label><input type="submit" /></li>
</ul>
@Html.Hidden("question", (string)ViewBag.SecrecyQuestion)
}
<div class="links">@Html.ActionLink("<< Return Details", "Details", new { name = ViewBag.UserName })</div>
